.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.colo{
    background-color: red;
}

.card-container {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .search {
    width: 100%;
  }

  .search mat-form-field {
    width: 100%;
  }
}