<div class="table-container">
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
      <ng-container matColumnDef="nomepc">
        <th mat-header-cell *matHeaderCellDef>Nome PC  </th>
        <td mat-cell *matCellDef="let element"> {{element.nomepc}} </td>
      </ng-container>

      <ng-container matColumnDef="dominio">
        <th mat-header-cell *matHeaderCellDef> Dominio </th>
        <td mat-cell *matCellDef="let element"> {{element.dominio}} </td>
      </ng-container>

      <ng-container matColumnDef="uuid">
          <th mat-header-cell *matHeaderCellDef> UUID</th>
        <td mat-cell *matCellDef="let element"> {{element.uuid}} </td>
      </ng-container>

      <ng-container matColumnDef="assettag">
        <th mat-header-cell *matHeaderCellDef>Asset Tag </th>
        <td mat-cell *matCellDef="let element"> {{element.assettag}} </td>
      </ng-container>

      <ng-container matColumnDef="serialebios">
        <th mat-header-cell *matHeaderCellDef>Seriale BIOS</th>
        <td mat-cell *matCellDef="let element"> {{element.serialebios}} </td>
      </ng-container>

      <ng-container matColumnDef="produttorebios">
        <th mat-header-cell *matHeaderCellDef>produttore BIOS</th>
        <td mat-cell *matCellDef="let element"> {{element.produttorebios}} </td>
      </ng-container>

      <ng-container matColumnDef="versionebios">
        <th mat-header-cell *matHeaderCellDef>versione BIOS</th>
        <td mat-cell *matCellDef="let element"> {{element.versionebios}} </td>
      </ng-container>

      <ng-container matColumnDef="modellocomputer">
        <th mat-header-cell *matHeaderCellDef>Modello Computer</th>
        <td mat-cell *matCellDef="let element"> {{element.modellocomputer}} </td>
      </ng-container>

      <ng-container matColumnDef="famigliacomputer">
        <th mat-header-cell *matHeaderCellDef>Famiglia Computer </th>
        <td mat-cell *matCellDef="let element"> {{element.famigliacomputer}} </td>
      </ng-container>
 
      <ng-container matColumnDef="tiposistema">
        <th mat-header-cell *matHeaderCellDef>Tipo Sistema </th>
        <td mat-cell *matCellDef="let element"> {{element.tiposistema}} </td>
      </ng-container>
      <ng-container matColumnDef="chassistype">
        <th mat-header-cell *matHeaderCellDef>Chassis Type </th>
        <td mat-cell *matCellDef="let element"> {{element.chassistype}} </td>
      </ng-container>
      <ng-container matColumnDef="versionedisplay">
        <th mat-header-cell *matHeaderCellDef>Versione Display </th>
        <td mat-cell *matCellDef="let element"> {{element.versionedisplay}} </td>
      </ng-container>
      <ng-container matColumnDef="buildwindows">
        <th mat-header-cell *matHeaderCellDef>Build Windows </th>
        <td mat-cell *matCellDef="let element"> {{element.buildwindows}} </td>
      </ng-container>
      <ng-container matColumnDef="architettura">
        <th mat-header-cell *matHeaderCellDef>Architettura </th>
        <td mat-cell *matCellDef="let element"> {{element.architettura}} </td>
      </ng-container>
      <ng-container matColumnDef="datainstallazioneos">
        <th mat-header-cell *matHeaderCellDef> Data Install OS </th>
        <td mat-cell *matCellDef="let element"> {{element.datainstallazioneos}} </td>
      </ng-container>
      <ng-container matColumnDef="dominiosistemaoperativo">
        <th mat-header-cell *matHeaderCellDef> Dominio OS </th>
        <td mat-cell *matCellDef="let element"> {{element.dominiosistemaoperativo}} </td>
      </ng-container>
      <ng-container matColumnDef="sistemaoperativo">
        <th mat-header-cell *matHeaderCellDef>OS </th>
        <td mat-cell *matCellDef="let element"> {{element.sistemaoperativo}} </td>
      </ng-container>
      <ng-container matColumnDef="versionesistemaoperativo">
        <th mat-header-cell *matHeaderCellDef>Versione OS </th>
        <td mat-cell *matCellDef="let element"> {{element.versionesistemaoperativo}} </td>
      </ng-container>
      
      <ng-container matColumnDef="fuori_uso">
        <th mat-header-cell *matHeaderCellDef> Fuori uso </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.fuori_uso === 'true'"></mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
    </div>