<div mat-dialog-title>ADD</div>

<!-- <mat-dialog-content >

</mat-dialog-content> -->
<mat-dialog-content appearance="outline">
<inv-item *ngIf="!currentPage"></inv-item>
<tech-item *ngIf="currentPage"></tech-item>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-icon-button (click)="changePage()">
     <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="changePage()">
     <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-button mat-dialog-close>Annulla</button>
    <button mat-raised-button color="primary" [disabled]="loading">Salva</button>
</mat-dialog-actions>