<div mat-dialog-title>ADD</div>

<mat-dialog-content appearance="outline">
    <form [formGroup]="addItemForm" class="form-container">

        <mat-form-field appearance="outline">
            <mat-label>Cat tipo</mat-label>
            <input matInput type="text" formControlName="cat_tipo" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Num Inv</mat-label>
            <input matInput type="text" formControlName="num_inv" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Sec pdci</mat-label>
            <input matInput type="text" formControlName="sec_pdci" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Denominazione</mat-label>
            <input matInput type="text" formControlName="denominazione" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Matricola</mat-label>
            <input matInput type="text" formControlName="matricola" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Annotazioni</mat-label>
            <input matInput type="text" formControlName="annotazioni" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Stanza</mat-label>
            <input matInput type="text" formControlName="stanza" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Possessori</mat-label>
            <input matInput type="text" formControlName="possessori" />
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annulla</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="loading">Salva</button>
</mat-dialog-actions>