<div mat-dialog-title>ADD</div>

<form [formGroup]="addItemForm">
    <mat-dialog-content class="form-display">
        <div class="field">
            <label>Cat tipo</label>
            <input type="text" formControlName="cat_tipo" />
        </div>
        <div class="field">
            <label>Num inv</label>
            <input type="text" formControlName="num_inv" />
        </div>
        <div class="field">
            <label>Sec pdci</label>
            <input type="text" formControlName="sec_pdci" />
        </div>
        <div class="field">
            <label>Denominazione</label>
            <input type="text" formControlName="denominazione" />
        </div>
        <div class="field">
            <label>Matricola</label>
            <input type="text" formControlName="matricola" />
        </div>
        <div class="field">
            <label>Annotazioni</label>
            <input type="text" formControlName="annotazioni" />
        </div>
        <div class="field">
            <label>Stanza</label>
            <input type="text" formControlName="stanza" />
        </div>
        <div class="field">
            <label>Possessori</label>
            <input type="text" formControlName="possessori" />
        </div>
    </mat-dialog-content>
</form>

<mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button mat-dialog-close>Annulla</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="loading">Salva</button>
</mat-dialog-actions>